body {
    margin: 5%;
    
}
header {
display: inline-block;  
background-color: brown;
width: 100%;  

}
header > .link {
   
    width: 2em;
    background-color: aqua;
    text-align: right;
    
    
}
header > .div.logo {
    background-color: blueviolet;
    text-align: left;
    display: inline-block;
    
}
/* > specifikavimo zenkla duoda pirmuma /*